[uwsgi]
uid = www-data
gid = www-data
chdir = /code/
module = portal.wsgi
master = true
processes = 5
socket = /run/uwsgi/web.sock
chmod-socket = 666
chown-socket = www-data:www-data
enable-threads = true
python-autoreload = {{ getenv "PYTHON_AUTO_RELOAD" }}
harakiri = 305
